</br>
</br>
<div id="title">
  <h1>Wenge Forum</h1>
</div>
</br>

<h1>Editing Post</h1>

<div id="loginBackground">
<%= render 'form' %>

</div>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
